
div.mainContent {
    background: #fff;
}

div.painelCategorias{
    margin: 0px;
}

*, :after, :before {
    box-sizing: border-box;
}

header {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
.NavGlobal {
    height: 45px;
    min-height: 45px;
    line-height: 43px;
    background-color: #00305c;
    border-bottom: 4px solid #00824a !important;
    box-shadow: 0 4px 0 #fae042;
    margin-bottom: 4px;
    margin-left:  0px;
    margin-right: 0px;
}
/*
* Configurações do cabeçalho
*/

div.header-institucional {
 box-sizing: border-box;
 color: rgb(51, 51, 51);
 display: block;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 14px;
 height: 47px;
 line-height: 20px;
 text-size-adjust: 100%;
 width: 1016px;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


div.NavGlobal-container {
 box-sizing: border-box;
 color: rgb(255, 255, 255);
 display: block;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 12px;
 height: 41px;
 line-height: 40px;
 text-size-adjust: 100%;
 width: auto;
 margin-right: 4%;
 margin-left: 4%;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.NavGlobal-div.mainContent {
    background: green;
}

div.painelCategorias{
    margin: 0px;
}

div.row {
    box-sizing:    border-box    ;
    color:    rgb(51, 51, 51)    ;
    display:    block    ;
    font-family:    "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif    ;
    font-size:    14px    ;
    height:    auto !important;    ;
    line-height:    20px    ;
    margin-left:    -15px    ;
    margin-right:    -15px    ;
    text-size-adjust:    100%    ;
    width:    auto!important;
    -webkit-tap-highlight-color:    rgba(0, 0, 0, 0)    ;
}

*, :after, :before {
    box-sizing: border-box;
}

header {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
.NavGlobal {
    height: 45px;
    min-height: 45px;
    line-height: 43px;
    background-color: #00305c;
    border-bottom: 4px solid #00824a !important;
    color: #fff;
    box-shadow: 0 4px 0 #fae042;
    margin-bottom: 4px;
    margin-left:  0px;
    margin-right: 0px;
    vertical-align: middle;
}
/*
* Configurações do cabeçalho
*/

div.header-institucional {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 14px;
    height: 47px;
    line-height: 20px;
    text-size-adjust: 100%;
    width: 1016px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


div.NavGlobal-logo {
 box-sizing: border-box;
 color: rgb(255, 255, 255);
 display: block;
 float: left;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 0px;
 height: 40px;
 line-height: 40px;
 text-size-adjust: 100%;
 width: 170px;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 background: center center/120px no-repeat;
}

.FooterMain-list>dt {
    font-size: 12px;
    font-weight: 700;
    color: #666;
    margin: 10px 0;
}

dd {
    display: block;
    -webkit-margin-start: 40px;
    margin-left: 0;
}



.FooterMain-hlink, .FooterMain-hlink:hover {
    background-color:    rgba(0, 0, 0, 0)    ;
    box-sizing:    border-box    ;
    color:    rgb(102, 102, 102)    ;
    cursor:    pointer    ;
    display:    block    ;
    font-family:    "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif    ;
    font-size:    12px    ;
    min-height:    17px    ;
    line-height:    17.1429px    ;
    list-style-image:    none    ;
    list-style-position:    outside    ;
    list-style-type:    none    ;
    text-decoration-color:    rgb(102, 102, 102)    ;
    text-decoration-line:    none    ;
    text-decoration-style:    solid    ;
    text-size-adjust:    100%    ;
    width:    212.5px    ;
    -webkit-tap-highlight-color:    rgba(0, 0, 0, 0)    ;
}

/*
* Configurações de rodapé
*/
.ShareIcon {
background-attachment:scroll;
background-clip:border-box;
background-color:rgb(136, 136, 136);
background-image:none;
background-origin:padding-box;
background-position-x:0%;
background-position-y:0%;
;background-size:auto;
border-bottom-color:rgb(255, 255, 255);
border-bottom-left-radius:50%;
border-bottom-right-radius:50%;
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(255, 255, 255);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(255, 255, 255);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(255, 255, 255);
border-top-left-radius:50%;
border-top-right-radius:50%;
border-top-style:none;
border-top-width:0px;
box-sizing:border-box;
color:rgb(255, 255, 255);
cursor:pointer;
display:inline-block;
font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
font-size:18px;
height:35px;
line-height:34.2px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
text-align:center;
text-decoration-color:rgb(255, 255, 255);
text-decoration-line:none;
text-decoration-style:solid;
text-size-adjust:100%;
touch-action:auto;
transition-delay:0s;
transition-duration:0.3s;
transition-property:background-color;
transition-timing-function:linear;
vertical-align:middle;
width:34.1875px;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.footer {
 bottom: 0px;
 box-sizing: border-box;
 color: rgb(51, 51, 51);
    display: grid;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 14px;
 min-height: 52px;
 line-height: 20px;
 padding-bottom: 0px;
 padding-left: 0px;
 padding-right: 0px;
 padding-top: 0px;
 text-size-adjust: 100%;
 width: auto;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer-institucional {
 box-sizing: border-box;
 clear: both;
 color: rgb(51, 51, 51);
 display: block;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 14px;
 min-height: 339px;
 line-height: 20px;
 padding-top: 40px;
 text-size-adjust: 100%;
 width: auto;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.FooterMain {
 background-color: rgb(238, 238, 238);
 box-sizing: border-box;
 color: rgb(51, 51, 51);
 display: block;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 14px;
 min-height: 289px;
 line-height: 20px;
 margin-top: 10px;
 padding-top: 20px;
 text-size-adjust: 100%;
 width: auto;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
 box-sizing: border-box;
 color: rgb(51, 51, 51);
 display: block;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 14px;
 min-height: 233px;
 line-height: 20px;
 margin-left: 23px;
 margin-right: 23px;
 padding-left: 15px;
 padding-right: 15px;
 text-size-adjust: 100%;
 width: auto;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.FooterMain-row {
 box-sizing: border-box;
 color: rgb(51, 51, 51);
 display: block;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 14px;
 min-height: 193px;
 line-height: 20px;
 margin-left: -15px;
 margin-right: -15px;
 text-size-adjust: 100%;
 width: auto;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.FooterMain-section {
 box-sizing: border-box;
 color: rgb(51, 51, 51);
 display: block;
 float: left;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 14px;
 min-height: 193px;
 line-height: 20px;
 padding-left: 15px;
 padding-right: 15px;
 position: relative;
 text-size-adjust: 100%;
 width: 242.5px;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.FooterMain-list {
 box-sizing: border-box;
 color: rgb(51, 51, 51);
 display: block;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 12px;
 line-height: 20px;
 list-style-image: none;
 list-style-position: outside;
 list-style-type: none;
 margin-bottom: 20px;
 margin-top: 0px;
 padding-left: 0px;
 text-size-adjust: 100%;
 -webkit-margin-after: 20px;
 -webkit-margin-before: 0px;
 -webkit-margin-end: 0px;
 -webkit-margin-start: 0px;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.FooterMain-link, .FooterMain-link:hover {
 background-color:rgba(0, 0, 0, 0);;
 box-sizing: border-box;
 color: rgb(51, 51, 51);
 cursor: pointer;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 12px;
 line-height: 17.1429px;
 list-style-image:  none;
 list-style-position:  outside;
 list-style-type: none;
 text-decoration-color: rgb(51, 51, 51);
 text-decoration-line: none;
 text-decoration-style: solid;
 text-size-adjust: 100%;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.FooterMain-endereco {
 background-color: rgb(0, 46, 86);
 box-sizing: border-box;
 color:rgb(255, 255, 255);
 display:block;
 font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size:11px;
 min-height:36px;
 line-height:16.5px;
 padding-bottom:10px;
 padding-left: 10px;
 padding-right:10px;
 padding-top:10px;
 text-align:center;
 text-size-adjust:100%;
 width:auto;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.largura100{
    width: 100% !important;
}
.largura33{
    width: 33% !important;
}
.NavGlobal-middle{
    color: #fff;
    text-align: center;
}

.pull-right{
    float: right!important;
}

a:link, a:visited {
    text-decoration: none !important;
}
a:hover {
    text-decoration: none !important;
    color: ghostwhite;
}
.textBasicOrientation{
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
.titleHeight{
    height: 200px !important;
}
.single-icon > i {
    font-size: 36px;
    color: #fb397d;
}

.single-special > h4 {
    font-size: 22px;
    color: #5b32b4;
}

.single-icon {
    margin-bottom: 25px;
}

.single-special > h4 {
    font-size: 22px;
    color: #5b32b4;
    margin-bottom: 15px;
}

.single-special {
    border: 1px solid #eff2f6;
    padding: 40px;
    border-radius: 40px 40px 40px 0px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    margin-bottom: 30px;
}

.special_description_content > h2 {
    color: #5b32b4;
    font-size: 48px;
    margin-bottom: 30px;
}

.single-special:hover {
    -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
}

.single-special p {
    margin-bottom: 0;
}

.alinhamentoBody{
    margin-left: 20% !important;
    margin-right: 20% !important;
    height: auto !important;
}

.corTextoDefault{
    color: grey;
}

#lab_social_icon_footer {
    text-align: center;
    vertical-align: middle;

}

#lab_social_icon_footer a {
    color: #333;
}

#lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
    color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
    color: #f39c12;
}

.marginTopSocial{
    margin-top: 5%;
}

.colorTitleBar{
    color: white !important;
    font-weight: bold !important;
}

.alinhamentoBotaoLerLoticia{
    position: absolute;
    left: 5%;
    bottom: 20px;
    width: 100px;
}

.socialAlign{
    text-align: left !important;
    padding-right: auto;
    display: inline-block;
}

@media screen and
(min-width: 200px) and
(max-width: 640px){
    .layoutCardsNews{
        padding-left: 25%;
        padding-right: 25%;
        min-width: 50% !important;
        max-height: 450px !important;
        min-height: 450px !important;
        margin: 1.67% !important;
        margin-bottom: 10px !important;
    }
    .layoutTextCard{
        overflow: hidden !important;
        max-height: 140px !important;
        text-align: justify;
    }
    .tamanhoImagemCardNews{
        min-width: 100% !important;
        height: 100px !important;
    }
    .responsividade{
        width: 100% !important;
    }
}


@media screen and
(min-width: 641px) and
(max-width: 1023px){
    .layoutCardsNews{
        padding-left: 25%;
        padding-right: 25%;
        min-width: 100% !important;
        max-height: 450px !important;
        min-height: 450px !important;
        margin: 1.67% !important;
        margin-bottom: 10px !important;
    }
    .layoutTextCard{
        overflow: hidden !important;
        max-height: 140px !important;
        text-align: justify !important;
    }
    .tamanhoImagemCardNews{
        height: 170px !important;
        min-width: 100% !important;
    }
    .footerWidth{
        width: 100% !important;
    }
    .sizeByScreen {
        margin-left: 15% !important;
        margin-right: 15% !important;
        max-width: 70% !important;
    }
}

@media screen and
(min-width: 1024px) and
(max-width: 4080px){
    .layoutCardsNews{
        min-width: 45% !important;
        max-width: 45% !important;
        max-height: 450px !important;
        min-height: 450px !important;
        margin: 1.67% !important;
        padding: 1%;
    }
    .layoutTextCard{
        overflow: hidden !important;
        max-height: 160px !important;
        text-align: justify !important;
    }
    .tamanhoImagemCardNews{
        min-width: 100% !important;
        height: 120px !important;
    }
    .sizeByScreen {
        width: 100% !important;
    }
}

.gradientBackgroundTitle{
    background-image: linear-gradient(#e9ecef, white) !important;
}

.radiusCard{
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
}

.noBackgroundCarrousel{
    background-image: none !important;
}

.teste{
    background-color: dimgrey !important;
}
