<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<footer class="footer">
    <div id="footer-institucional">
        <div class="FooterMain">
            <div class="container largura100">
                <div class="FooterMain-row">
                    <div class="FooterMain-section largura33">
                        <dl class="FooterMain-list corTextoDefault"><dt>Portais</dt>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.leg.br/institucional/">Institucional</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www25.senado.leg.br/web/senadores/">Senadores</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www25.senado.leg.br/web/atividade/">Atividade Legislativa</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.leg.br/noticias">Notícias</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.leg.br/publicacoes">Publicação e Documentação</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.leg.br/orcamento">Orçamento</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.leg.br/transparencia/">Transparência</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.leg.br/ecidadania/">e-Cidadania</a></dd>
                        </dl>
                    </div>
                    <div class="FooterMain-section largura33">
                        <dl class="FooterMain-list"><dt>Acesso Rápido</dt>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.leg.br/blog">Blog</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.leg.br/blog/credenciamento-de-jornalistas">Credenciamento de Jornalistas</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.leg.br/senado/ilb/ead/abrangencia">Educação a distância</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.leg.br/jovemsenador">Jovem Senador</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.gov.br/institucional/procuradoria">Procuradoria da Mulher</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www12.senado.gov.br/institucional/estagio">Programa de Estágio</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www.interlegis.leg.br/">Programa Interlegis</a></dd>
                            <dd><a class="FooterMain-link u-linkClean" href="http://www.senado.leg.br/senado/visite/">Visite o Senado</a></dd>
                        </dl>
                    </div>
                    <div class="FooterMain-section largura33">
                        <dl class="FooterMain-list" style="word-wrap: break-word;">
                            <dt><a class="FooterMain-hlink u-linkClean" target="_blank" href="http://www.senado.leg.br/transparencia/LAI/secrh/parla_inter.pdf">Fale com os Senadores</a></dt>
                            <dd><a class="FooterMain-hlink u-linkClean" href="http://www12.senado.leg.br/institucional/falecomosenado">Fale com o Senado</a></dd>
                            <dd><a class="FooterMain-hlink u-linkClean" target="_blank" href="http://www.congressonacional.leg.br/">Congresso Nacional</a></dd>
                            <dd><a class="FooterMain-hlink u-linkClean" target="_blank" href="http://www.camara.leg.br/">Câmara dos Deputados</a></dd>
                            <dd><a class="FooterMain-hlink u-linkClean" target="_blank" href="http://www.tcu.gov.br/">Tribunal de Contas da União</a></dd>

                            <section id="lab_social_icon_footer" class="socialAlign textBasicOrientation wow fadeInUp marginTopSocial" data-wow-delay="0.4s">
                                <div>
                                    <div class="text-center center-block">
                                        <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                                        <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
                                        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
                                        <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
                                    </div>
                                </div>
                            </section>
                        </dl>
                    </div>
                </div>
            </div>




            <div class="FooterMain-endereco">
                {{{casalegislativa_endereco}}}
            </div>
        </div>
    </div>
</footer>
