{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_ilb/frontpage

    Frontpage ILB layout template.

    Context variables required for this template:
      <!-- Categorias de cursos -->
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon_saberes.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
         "bodyattributes":""
    }
}}
<!-- Placeholders do template: não remover!!-->
<!-- {{{ output.course_content_header }}} -->
<!-- {{{ output.main_content }}}          -->
<!-- {{{ output.course_content_footer }}} -->
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="Instituto Legislativo Brasileiro">
    <meta name="apple-mobile-web-app-title" content="Instituto Legislativo Brasileiro - ILB">
    <meta name="application-name" content="Instituto Legislativo Brasileiro - ILB">
    <meta name="theme-color" content="#00305c">
    <meta name="theme-color" content="#00305c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{{casalegislativa_nome}}}</title>
    {{>theme_escola_modelo/head}}
</head>
<body {{{ bodyattributes }}}>

    {{>theme_escola_modelo/header}}

    <div class='mainContent'>











        <div class="titleHeight jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 textBasicOrientation">{{casalegislativa_nome}}</h1>
            </div>
        </div>











    <div class='painelLogin'>
        <div class="potentialidplist">
            <div class="potentialidp">
                <a href="https://escolamodeloh.interlegis.leg.br/auth/oauth2/login.php?id=1&amp;wantsurl=%2F&amp;sesskey=HtKS7cQU12" title="Escola Modelo WS" class="btn btn-secondary btn-block">
                    <img src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png" alt="" width="24" height="24">
                Escola Modelo WS
                </a>
            </div>
        </div>
    </div>

        <div id='painelCategorias'> 
            <div class='row'>
                <div class="col-xs-6 col-lg-3 text-center">
                    <a href="course/index.php?categoryid=134"><img src="{{{projetos_especiais}}}"></a>
                    <p>Cursos on-line sem tutoria</p>
                </div>
                <div class="col-xs-6 col-lg-3 text-center">
                    <a href="course/index.php?categoryid=134"><img src="{{{projetos_especiais}}}"></a>
                    <p>Cursos on-line sem tutoria</p>
                </div>
                <div class="col-xs-6 col-lg-3 text-center">
                    <a href="course/index.php?categoryid=134"><img src="{{{projetos_especiais}}}"></a>
                    <p>Cursos on-line sem tutoria</p>
                </div>
                <div class="col-xs-6 col-lg-3 text-center">
                    <a href="course/index.php?categoryid=134"><img src="{{{projetos_especiais}}}"></a>
                    <p>Cursos on-line sem tutoria</p>
                </div>
            </div>
        </div>
    </div>


    {{>theme_escola_modelo/footer}}
</body>
</html>

{{#js}}
require(['theme_boost/loader']);
{{/js}}
