{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_escola_modelo/frontpage

    Frontpage escola_modelo layout template.

    Context variables required for this template:
      <!-- Categorias de cursos -->
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon_saberes.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
         "bodyattributes":""
    }
}}
<!-- Placeholders do template: não remover!!-->
<!-- {{{ output.course_content_header }}} -->
<!-- {{{ output.main_content }}}          -->
<!-- {{{ output.course_content_footer }}} -->
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="Instituto Legislativo Brasileiro">
    <meta name="apple-mobile-web-app-title" content="Instituto Legislativo Brasileiro - escola_modelo">
    <meta name="application-name" content="Instituto Legislativo Brasileiro - escola_modelo">
    <meta name="theme-color" content="#00305c">
    <meta name="theme-color" content="#00305c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{{casalegislativa_nome}}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{moodle_url}}/theme/escola_modelo/style/frontpage.css">
    <script src="{{moodle_url}}/theme/escola_modelo/js/frontpage.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body {{{ bodyattributes }}}>
    <nav class="navbar navbar-inverse navbar-expand-lg bg-dark bigScreen" style="margin-bottom: 0px;">
        <div class="container">
            <div class="navbar-translate">
                <label class="nav-item navbar-brand" href="/presentation.html"><img src="https://evl.interlegis.leg.br/static/img/transparente_bfg.png" style="width:100px; height: 40px; background-color: white"></>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                	<li class="nav-item">
                        <a href="#news" class="nav-link blackk">
                            <img src="https://img.icons8.com/dusk/64/000000/news.png" style="width: 20px;">  Comunicados
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#mostViewed" class="nav-link blackk">
                            <img src="https://img.icons8.com/dusk/64/000000/best-seller.png" style="width: 20px;"> Mais Procurados
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#courses" class="nav-link blackk">
                            <img src="https://img.icons8.com/dusk/64/000000/book.png" style="width: 20px;"> Cursos
                        </a>
                    </li>
					<li class="nav-item">
                        <a href="#cover" class="nav-link ">
                        <img src="https://img.icons8.com/dusk/64/000000/search.png" style="width: 20px;"></a>
                    </li>
                    <li class="nav-item">
                        
                        {{#user_picture_url}}
                            Foto do sujeito e Nome {{{user_name}}} <br> 
                            {{{user_picture_url}}}

                        {{/user_picture_url}}
                        {{^user_picture_url}}
                        <a href="{{{moodle_url}}}/auth/oauth2/login.php?id=1&wantsurl=%2F&sesskey={{session}}" class="btn btn-rose btn-raised btn-round">
                            Log In
                        </a>
                        {{/user_picture_url}}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-expand-lg bg-dark smallScreen" id="navSmall" style="margin-bottom: 0px;">
        <div class="container customMarginLogoSmallScreen noMargin maxWidth">
            <div class="navbar-translate widthLogo">
                <label class="nav-item navbar-brand noMargin" href="/presentation.html"><img src="https://evl.interlegis.leg.br/static/img/transparente_bfg.png" style="width:100px; height: 40px; background-color: white"></>
            </div>
            <div class="pull-right widthContent">
                <div class="pull-right mr2p">
                    <a href="{{{moodle_url}}}/auth/oauth2/login.php?id=1&wantsurl=%2F&sesskey={{session}}" class="buttonprop btn-blueInterlegis btnCustom btn-raised btn-round">
                    Log In
                    </a>
                </div>
                <div class="dropdown pull-right mr5p">
                   <img id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 50px" src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/menu-256.png">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="#news" class="nav-link propertiesLinkNav">
                            Comunicados
                        </a>
                        <a href="#mostViewed" class="nav-link propertiesLinkNav">
                            Mais Procurados
                        </a>
                        <a href="#courses" class="nav-link propertiesLinkNav">
                             Cursos
                        </a>
                    </div>
                </div>
            </div>
            <div class="pull-right">
            </div>
        </div>
    </nav>
    <div class="bgGradient">
	    <div id="particles">
		    <div id="webcoderskull">
		        <h1 class="">{{{sitename}}}</h1>
		        <p class="littleSubtitle">{{{casalegislativa_nome}}}</p>
		    </div>
	    </div>
    </div>

    <!-- Notícias -->

    {{#avisos}}
    <div id="news">
        <div class="">
            <div class="row mb-5 propertiesNews">
                <div class="col-12 py-4 bg-dark">
                    <div class="row paddingSmall">
                        <div style="width: 100%">
                            <div class="breaking-box">
                                <div id="carouselbreaking" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        {{#noticias}}

                                        <div class="carousel-item aviso">
                                            <a href="{{{link}}}">
                                                <span class="position-relative mx-2 badge badge-primary rounded-0 corNoticia" >{{{tag}}}</span>
                                            </a>
                                            <a class="text-white" href="{{{link}}}">
                                            <img src="{{{icone}}}" style="width: 20px;"> {{{titulo}}}
                                            </a>
                                        </div>

                                        {{/noticias}}
                                    </div>
                                    <div class="navigation-box p-2 d-sm-block">
                                        <a class="carousel-control-prev colorNext" href="#carouselbreaking" role="button" data-slide="prev">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next colorNext" href="#carouselbreaking" role="button" data-slide="next">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/avisos}}

    <!-- Cursos mais procurados -->

    <div id="mostViewed">
		<br>
		<br>
		<h2 class="heading-secondary propertiesTitleCenter letterSpacing"> Cursos Mais Procurados</h2>
  	</div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators carIndic">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner sizeCarousel">
            {{#cursos_home}}
                <div class="carousel-item item textAlignCenter">
                    <div class="" >
                        {{#.}} <!-- lista principal -->
                            {{#.}} <!-- lista de blocos -->
                                <div class="item-box-blog tam3cards noPadding marginResponsive">
                                    <div class="w100p" style="position: absolute">
                                        <div class="w50p float-left">
                                        </div>
                                        <div class="w50p float-right">
                                            <div class="colorDarkGrey white"> <span class="mon">20 de Agosto</span> </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="imgCourseTst">
                                            <img class="imgCourseTst" src="https://saberes.senado.leg.br/pluginfile.php/2593044/course/overviewfiles/Conhecendo%20o%20Novo%20Acordo%20Ortogr%C3%A1fico-min.png">
                                        </div>
                                        <div class="w100p" style="position: absolute">
                                            <div class="w50p float-left">
                                                <a class="noLinkEffect" data-backdrop="static" href="javascript:exibirInformacoes('{{descricao}}')" data-target="#exampleModalLong">
                                                     <div class="colorMaisInfo white sizeHeight paddingg">
                                                         <span class="mon">Informações</span>
                                                     </div>
                                                </a>
                                            </div>
                                            <div class="w50p float-right">
                                                <div class="colorInscrever white sizeHeight paddingg"> <span class="mon">Inscrever-se</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/.}}
                        {{/.}}
                    </div>
                </div>
            {{/cursos_home}}
            <div data-backdrop="static" class="modal fade" id="modalInformacoes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header padding2p">
                            <h5 class="modal-title w100p">Mais Informações</h5>
                            <div class="rowClose">
                                <img data-dismiss="modal" class="xProperties" src="https://cdn4.iconfinder.com/data/icons/web-ui-color/128/Close-256.png">
                            </div>
                        </div>
                        <div id="textoMaisInformacoes" class="modal-body">
                        </div>
                        <div class="modal-footer row customrow">
                            <button type="button" class="buttonprop btnVerde btn-block">Inscrever</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
        </div>
        <a class="carousel-control-prev sizePassingModal " href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only redd">Previous</span>
        </a>
        <a class="carousel-control-next sizePassingModal" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only redd">Next</span>
        </a>
    </div>
    <!-- Cursos disponíveis -->
    <section class="section-tours" id="courses">
        <div class=" text-center  u-margin-bottom-medium" style="margin-bottom: 40px;">
            <br><br>
            <h2 class="heading-secondary letterSpacing">
                Cursos Disponíveis
            </h2>
            <br><br>
        </div>
        <div id="cover">
            <form name='formPesquisa' id='formPesquisa' method="POST" action="{{moodle_url}}/theme/escola_modelo/proxy_busca_cursos.php">
                <div class="tb">
                    <input type="text" required name='expression'>
                    <div class="td">
                    </div>
                    <div class="td" id="s-cover">
                        <button type="submit">
                        <div id="s-circle"></div>
                        <span></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div id='cursosDisponiveis' class="roww">

                {{#cursos_home}}
                {{#categorias}}
                {{#categoria}}

                    <!--<h4>{{{nome}}}</h4> -->
                    {{#cursos}}
                    <div class="card cardProp">
                        <div class="card__side card__side--front">
                            <div style='background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(http://localhost/saberes/theme/image.php?theme=escola_modelo&component=theme&image=2_imagem_card) !important;' class="card__picture">
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--2">{{{nome}}}</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li><b>Certificador: </b> SBH</li>
                                    <li><b>Conteudista: </b>ILB</li>
                                    <li><b>Carga Horária: </b>30h</li>
                                    <li><div class="star-rating">
                                        <input type="radio" id="5-stars" name="rating" value="5" />
                                        <label for="5-stars" class="star">&#9733;</label>
                                        <input type="radio" id="4-stars" name="rating" value="4" />
                                        <label for="4-stars" class="star">&#9733;</label>
                                        <input type="radio" id="3-stars" name="rating" value="3" />
                                        <label for="3-stars" class="star">&#9733;</label>
                                        <input type="radio" id="2-stars" name="rating" value="2" />
                                        <label for="2-stars" class="star">&#9733;</label>
                                        <input type="radio" id="1-star" name="rating" value="1" />
                                        <label for="1-star" class="star">&#9733;</label>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-2 pos">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <h1 class="h1Properties">{{{nome}}}</h1>
                                    <p style="text-align: justify;">{{{descricao}}}</p>
                                    <div class="posBottom">
                                        <a href="" type="button" class="btn btn-inscrever btn-block">Matricular</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/cursos}}
                {{/categoria}}
                {{/categorias}}
                {{/cursos_home}}
        </div>
    </section>

    <!--
    <footer class="footer text-center bg-dark">
        <p class="textColorWhite">Tema Escola Modelo <a href="http://www.interlegis.leg.br/" style="text-decoration: none;"><p class="littleTitle">Interlegis - 2019 Copyright - All Rights Reserved Terms of Service</p></a></p>
    </footer>
    -->
    {{>theme_escola_modelo/footer}}
</body>
</html>

<script>
   
    $(document).ready(function() {
        $('.item').first().addClass("active", "true");
        $('.aviso').first().addClass("active", "true");
    });

    function exibirInformacoes(informacao){
        jQuery.noConflict();
        $('#textoMaisInformacoes').html(informacao);
        $('#modalInformacoes').modal('show');
    }

    function MudarEstado(el) {
        var display = document.getElementById(el).style.display;
        if (display == "none")
            document.getElementById(el).style.display = 'block';
    } 

    $( "#formPesquisa" ).submit(function( event ) {
        event.preventDefault();

        var form = $(this);
        var url = "{{moodle_url}}/theme/escola_modelo/proxy_busca_cursos.php";

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {
                $("#cursosDisponiveis").empty();

                if($.isEmptyObject(data.cursos)) {
                    $("#cursosDisponiveis").html("<section class=\"error_section\"><p class=\"error_section_subtitle\">Nenhum Curso Encontrado</p><h1 class=\"error_title\"><p>404</p>404</h1></section>");
                } else {
                    $.each(data.cursos, function(idx, curso) {

                        var curso = `
                            <div class="card cardProp">
                                <div class="card__side card__side--front">
                                    <div style='background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(http://localhost/saberes/theme/image.php?theme=escola_modelo&component=theme&image=2_imagem_card) !important;' class="card__picture">
                                    </div>
                                    <h4 class="card__heading">
                                        <span class="card__heading-span card__heading-span--2">` + curso.name + `</span>
                                    </h4>
                                    <div class="card__details">
                                        <ul>
                                            <li><b>Certificador: </b> SBH</li>
                                            <li><b>Conteudista: </b>ILB</li>
                                            <li><b>Carga Horária: </b>30h</li>
                                            <li><div class="star-rating">
                                                <input type="radio" id="5-stars" name="rating" value="5" />
                                                <label for="5-stars" class="star">&#9733;</label>
                                                <input type="radio" id="4-stars" name="rating" value="4" />
                                                <label for="4-stars" class="star">&#9733;</label>
                                                <input type="radio" id="3-stars" name="rating" value="3" />
                                                <label for="3-stars" class="star">&#9733;</label>
                                                <input type="radio" id="2-stars" name="rating" value="2" />
                                                <label for="2-stars" class="star">&#9733;</label>
                                                <input type="radio" id="1-star" name="rating" value="1" />
                                                <label for="1-star" class="star">&#9733;</label>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="card__side card__side--back card__side--back-2 pos">
                                    <div class="card__cta">
                                        <div class="card__price-box">
                                            <h1 class="h1Properties">` + curso.name + `</h1>
                                            <p style="text-align: justify;">` + curso.description + `</p>
                                            <div class="posBottom">
                                                <a href="` + curso.url + `" type="button" class="btn btn-inscrever btn-block">Matricular</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `;

                        $("#cursosDisponiveis").append(curso);

                    });
                }

                //alert(data.cursos); // show response from the php script.
            },
            error: function(e) {
                $("#cursosDisponiveis").html("<section class=\"error_section\"><p class=\"error_section_subtitle\">Ocorreu um erro</p><h1 class=\"error_title\"><p>404</p>404</h1></section>");
            }
        });
    });

</script>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
