{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_escola_modelo/frontpage

    Frontpage escola_modelo layout template.

    Context variables required for this template:
      <!-- Categorias de cursos -->
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon_saberes.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
         "bodyattributes":""
    }
}}
<!-- Placeholders do template: não remover!!-->
<!-- {{{ output.course_content_header }}} -->
<!-- {{{ output.main_content }}}          -->
 
<!-- {{{ output.course_content_footer }}} -->
{{{ output.doctype }}}

<html {{{ output.htmlattributes }}}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="Instituto Legislativo Brasileiro">
    <meta name="apple-mobile-web-app-title" content="Instituto Legislativo Brasileiro - escola_modelo">
    <meta name="application-name" content="Instituto Legislativo Brasileiro - escola_modelo">
    <meta name="theme-color" content="#00305c">
    <meta name="theme-color" content="#00305c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{{casalegislativa_nome}}}</title>
    {{>theme_escola_modelo/head}}
</head>
<body {{{ bodyattributes }}}>

{{>theme_escola_modelo/header}}

<div class='mainContent'>
    <div class="gradientBackgroundTitle jumbotron">
        <h1 class="display-4 textBasicOrientation">
            {{{casalegislativa_nome}}}
        </h1>
        <hr class="my-4">
        <p class="textBasicOrientation">
            Escola de Governo
        </p>
    </div>
{{!
<div class='painelLogin'>
<div class="potentialidplist">
<div class="potentialidp">
    <a href="https://escolamodeloh.interlegis.leg.br/auth/oauth2/login.php?id=1&amp;wantsurl=%2F&amp;sesskey=HtKS7cQU12" title="Escola Modelo WS" class="btn btn-secondary btn-block">
    <img src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png" alt="" width="24" height="24">
    Escola Modelo WS
    </a>
</div>
</div>
</div>
}}
    <div id="myCarousel" class="carousel slide sizeByScreen" data-ride="carousel">
        <div class="carousel-inner">
            {{#cursos_evl}}
            {{#cursos}}
            <div class="item">
                <div class="col-12 sizeByScreen">
                    <div class="single-special textBasicOrientation wow fadeInUp" data-wow-delay="0.2s">
                        <div class="textBasicOrientation">
                            <h5>
                                {{{nome}}}
                                <span class="badge badge-secondary">
                                    New
                                </span>
                            </h5>
                        </div>
                        <div class="single-icon">
                            <i class="ti-mobile" aria-hidden="true"></i>
                        </div>
                        <a href="course/index.php?categoryid=134">
                            <img width='200px' height='90px' src="{{{logo}}}">
                        </a>
                        <p>
                            {{{nome}}}
                        </p>
                    </div>
                </div>
            </div>
           {{/cursos}}
           {{/cursos_evl}}
        </div>

        <a class="left carousel-control noBackgroundCarrousel" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control noBackgroundCarrousel" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    
    {{#cursos_home}}
    {{#categorias}}
    {{#categoria}}
        <h4>{{{nome}}}</h4>
        <div class="row alinhamentoBody" id="painelCategorias">
        {{#cursos}}
            <div class="radiusCard card layoutCardsNews col-12 col-md-4 single-special textBasicOrientation wow fadeInUp" data-wow-delay="0.2s">
                <img class="card-img-top tamanhoImagemCardNews" src="{{{3_imagem_card}}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        {{{nome}}}
                    </h5>
                    <p class="card-text layoutTextCard">
                        {{{descricao}}}
                    </p>
                    <a href="#" class="btn btn-primary colorTitleBar alinhamentoBotaoLerLoticia">
                        Matricular
                    </a>
                </div>
            </div>
            {{/cursos}}
        </div>
    {{/categoria}}
    {{/categorias}}
    {{/cursos_home}}
</div>
    {{>theme_escola_modelo/footer}}
</body>
</html>

<script>

    $(document).ready(function() {
        $('.item').first().addClass("active", "true");
    });
    
    function MudarEstado(el) {
        var display = document.getElementById(el).style.display;
        if (display == "none")
            document.getElementById(el).style.display = 'block';
    }

</script>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
