<!--
<link rel="canonical" href="http://saberes.senado.leg.br/">
<link rel="home" href="http://www12.senado.leg.br/noticias" title="Página inicial">
<link rel="alternate" href="http://www12.senado.leg.br/noticias/feed/todasnoticias/RSS" title="RSS 1.0" type="application/rss+xml">
<link rel="search" href="http://www12.senado.leg.br/noticias/buscaavancada" title="Buscar neste site">
<link rel="manifest" href="http://www12.senado.leg.br/noticias/++resource++senado.noticias/favicon/manifest.json?v=697oma3x8q">
-->

<!-- FIXME verificar se usa KSS -->
<link rel="kss-base-url" href="http://saberes.senado.leg.br/">
<link rel="kinetic-stylesheet" type="text/css" href="static/at-cachekey3076.kss" />

<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/theme/escola_modelo/style/base-cachekey1556.css" />
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/theme/escola_modelo/style/resourcestaticcssescola-de-governo-cachekey3115.css" />
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/theme/escola_modelo/style/resourceplone.app.jquerytools.overlays-cachekey3027.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{{moodle_url}}}/theme/escola_modelo/style/resourceplone.formwidget.autocompletejquery.autocomplete-cachekey1913.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{{moodle_url}}}/theme/escola_modelo/style/resourcestaticcsshome-cachekey0155.css" />
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/theme/escola_modelo/style/thin.css" />
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/theme/escola_modelo/style/tema_1.css" />
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/theme/escola_modelo/style/basic.css" />

<!-- Retira a formatação da página -->
<link rel="stylesheet" type="text/css" href="{{{moodle_url}}}/theme/escola_modelo/style/resourceplone.app.jquerytools.dateinput-cachekey2007.css" />

<!--
<link rel="stylesheet" type="text/css" href="https://www12.senado.leg.br/institucional/portal_css/Sunburst%20Theme/base-cachekey3894.css" />
<link rel="stylesheet" type="text/css" href="https://www12.senado.leg.br/institucional/portal_css/Sunburst%20Theme/resourceconfigcssbasic-cachekey3600.css" />

<link rel="stylesheet" type="text/css" media="all" href="https://www12.senado.leg.br/institucional/portal_css/Sunburst%20Theme/ploneCustom-cachekey2573.css" />
<link rel="stylesheet" type="text/css" media="screen" href="https://www12.senado.leg.br/institucional/portal_css/Sunburst%20Theme/resourcestaticcssplone_fixes_senado-cachekey4482.css" />
-->
<style>
    @font-face{
        font-family:agenciaweb;
        src:url({{{moodle_url}}}/theme/escola_modelo/style/icons/agenciaweb_a6777.eot);
        src:url({{{moodle_url}}}/theme/escola_modelo/style/icons/agenciaweb_a6777.eot) format('embedded-opentype'),url({{{moodle_url}}}/theme/escola_modelo/style/icons/agenciaweb_6a387.woff) format('woff'),url({{{moodle_url}}}/theme/escola_modelo/style/icons/agenciaweb_36ab2.ttf) format('truetype'),url({{{moodle_url}}}/theme/escola_modelo/style/icons/agenciaweb_3fc37.svg#icomoon) format('svg');
        font-weight:400;
        font-style:normal
    }
    @font-face{
        font-family:'Glyphicons Halflings';
        src:url({{{moodle_url}}}/theme/escola_modelo/style/icons/glyphicons-halflings-regular_f4769.eot);
        src:url({{{moodle_url}}}/theme/escola_modelo/style/icons/glyphicons-halflings-regular_f4769.eot?#iefix) format('embedded-opentype'),
        url({{{moodle_url}}}/theme/escola_modelo/style/icons/glyphicons-halflings-regular_448c3.woff2) format('woff2'),
        url({{{moodle_url}}}/theme/escola_modelo/style/icons/glyphicons-halflings-regular_fa277.woff) format('woff'),
        url({{{moodle_url}}}/theme/escola_modelo/style/icons/glyphicons-halflings-regular_e18bb.ttf) format('truetype'),
        url({{{moodle_url}}}/theme/escola_modelo/style/icons/glyphicons-halflings-regular_89889.svg#glyphicons_halflingsregular) format('svg')
    }
    #portal-breadcrumbs {
        display: block !important;
    }
    label {
        font-weight: normal;
        color: #787878;
    }

    .tabcontent {
        display:none;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 52px;
        padding: 0px;
    }
</style>

<!--
<link rel="apple-touch-icon" sizes="57x57" href="http://www12.senado.leg.br/hpsenado/++resource++senado.hpsenado/favicon/apple-touch-icon-57x57.png?v=OmmK4dNQkX" />
<link rel="apple-touch-icon" sizes="60x60" href="http://www12.senado.leg.br/hpsenado/++resource++senado.hpsenado/favicon/apple-touch-icon-60x60.png?v=OmmK4dNQkX" />
<link rel="apple-touch-icon" sizes="72x72" href="http://www12.senado.leg.br/hpsenado/++resource++senado.hpsenado/favicon/apple-touch-icon-72x72.png?v=OmmK4dNQkX" />
<link rel="apple-touch-icon" sizes="76x76" href="http://www12.senado.leg.br/hpsenado/++resource++senado.hpsenado/favicon/apple-touch-icon-76x76.png?v=OmmK4dNQkX" />
<link rel="apple-touch-icon" sizes="114x114" href="http://www12.senado.leg.br/hpsenado/++resource++senado.hpsenado/favicon/apple-touch-icon-114x114.png?v=OmmK4dNQkX" />
<link rel="apple-touch-icon" sizes="120x120" href="http://www12.senado.leg.br/hpsenado/++resource++senado.hpsenado/favicon/apple-touch-icon-120x120.png?v=OmmK4dNQkX" />
<link rel="apple-touch-icon" sizes="144x144" href="http://www12.senado.leg.br/hpsenado/++resource++senado.hpsenado/favicon/apple-touch-icon-144x144.png?v=OmmK4dNQkX" />
<link rel="apple-touch-icon" sizes="152x152" href="http://www12.senado.leg.br/hpsenado/++resource++senado.hpsenado/favicon/apple-touch-icon-152x152.png?v=OmmK4dNQkX" />
<link rel="apple-touch-icon" sizes="180x180" href="http://www12.senado.leg.br/hpsenado/++resource++senado.hpsenado/favicon/apple-touch-icon-180x180.png?v=OmmK4dNQkX" />
-->
<link rel="apple-touch-icon" sizes="180x180" href="{{{moodle_url}}}/images/favicon_saberes.ico">
<link rel="icon" type="image/png" href="{{{ output.favicon }}}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{{ output.favicon }}}" sizes="192x192" />
<link rel="icon" type="image/png" href="{{{ output.favicon }}}" sizes="96x96" />
<link rel="icon" type="image/png" href="{{{ output.favicon }}}" sizes="16x16" />

<!--
<script type="text/javascript" src="http://www12.senado.leg.br/hpsenado/portal_javascripts/Tema_HPSenado/resourcesenado.jqueryjquery-cachekey5865.js"></script>
<script type="text/javascript" src="http://www12.senado.leg.br/hpsenado/portal_javascripts/Tema_HPSenado/resourceplone.formwidget.autocompletejquery.autocomplete.min-cachekey6312.js"></script>
<script type="text/javascript"Cor src="http://www12.senado.leg.br/noticias/portal_javascripts/Tema_PortalMultimidia/resourceplone.formwidget.autocompletejquery.autocomplete.min-cachekey4433.js" />
<script type="text/javascript" src="http://www12.senado.leg.br/noticias/portal_javascripts/Tema_PortalMultimidia/resourcesenado.formwidget.textocomcontadordecaracterescontadordecaracteres-cachekey2942.js" />
<script type="text/javascript" src="http://www12.senado.leg.br/noticias/portal_javascripts/Tema_PortalMultimidia/resourcesenado.jqueryjquery-cachekey4484.js" />
<script type="text/javascript" src="http://www12.senado.leg.br/noticias/++resource++senado.noticias/audiojs/audio.min.js"></script>
<script type="text/javascript" src="http://www12.senado.leg.br/noticias/++resource++senado.noticias/audiojs/audiojs-doc-ready.js"></script>
<script type="text/javascript" src="http://www12.senado.leg.br/noticias/++resource++senado.noticias/script/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="http://www12.senado.leg.br/noticias/++resource++senado.noticias/script/root_index.js"></script>
<script type=<style>
  label {
      font-weight: normal;
  }
  </style>"text/javascript" src="http://www12.senado.leg.br/noticias/++resource++senado.noticias/script/youtubeEvents.js"></script>
<script type="text/javascript" src="http://www12.senado.leg.br/noticias/++resource++senado.noticias/audiojs/audio.min.js"></script>
<script type="text/javascript" src="http://www12.senado.leg.br/noticias/++resource++senado.noticias/audiojs/audiojs-doc-ready.js"></script>
<script type="text/javascript" src="http://www12.senado.leg.br/noticias/++resource++senado.noticias/script/root_index.js"></script>
<script type="text/javascript" src="http://www12.senado.leg.br/noticias/++resource++senado.noticias/script/youtubeEvents.js"></script>
-->

<!-- Arquivos javascript verificados-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- INVALIDAM O BOTÃO DE DROPDOWN -->
<script type="text/javascript" src="{{{moodle_url}}}/theme/escola_modelo/js/resourceconfigjqueryjquery-1.11.2.min-cachekey3986.js" ></script>
<script type="text/javascript" src="{{{moodle_url}}}/theme/escola_modelo/js/resourceconfigbootstrapbootstrap.min-cachekey1567.js" ></script>



<script type="text/javascript" src="{{{moodle_url}}}/theme/escola_modelo/js/resourcestaticjscalendario-cachekey4269.js" ></script>
<script type="text/javascript" src="{{{moodle_url}}}/theme/escola_modelo/js/resourcestaticjsphoto-gallery-cachekey3318.js"></script>
<script type="text/javascript" src="{{{moodle_url}}}/theme/escola_modelo/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="{{{moodle_url}}}/theme/escola_modelo/js/resourcesenado.jqueryjquery-cachekey4484.js"></script>
<script type="text/javascript">
    jQuery(function($){
        $.datepicker.setDefaults(
                jQuery.extend($.datepicker.regional['pt-BR'],
                        {dateFormat: 'dd/mm/yy'}));
    });
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77042575-1', 'auto');
    ga('require', 'linkid');
    ga('send', 'pageview');

    function ativaAba(evt, nomeAba) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(nomeAba).style.display = "block";
    }
</script>
